PORT=3000
CORS_ORIGIN=http://localhost:3000

OPENROUTER_API_KEY=
GROQ_API_KEY=
NVIDIA_API_KEY=
MISTRAL_API_KEY=
SAMBANOVA_API_KEY=
COHERE_API_KEY=
CEREBRAS_API_KEY=

OPENROUTER_MODEL=openrouter/free
GROQ_MODEL=openai/gpt-oss-120b
NVIDIA_MODEL=meta/llama-3.3-70b-instruct
MISTRAL_MODEL=mistral-small-latest
SAMBANOVA_MODEL=Meta-Llama-3.3-70B-Instruct
COHERE_MODEL=command-r-plus-08-2024
CEREBRAS_MODEL=gpt-oss-120b
